<div >
  <mat-toolbar color="accent" style="display: flex;
  justify-content: center;">
    <span>Simulador de Pipeline</span>
  </mat-toolbar>
  <div class="page-container">

    <div class="dados">
      <div class="sla">
        <mat-form-field style="width: 25vw;" color="accent">
          <mat-label>Número de instruções</mat-label>
          <input matInput [(ngModel)]="numeroInstrucoes" type="number">
        </mat-form-field>
        <mat-form-field style="width: 25vw;" color="accent">
          <mat-label>Tempo do ciclo (em nanossegundos)</mat-label>
          <input matInput [(ngModel)]="tempoCiclo" type="number">
        </mat-form-field>
        <button mat-raised-button extended color="accent" (click)="iniciarSimulacao()">Simular</button>
      </div>

    </div>
    <div style="overflow-x: auto;">

      <table class="tabela">
        <tr>
          <td matTooltip="Buscar instrução da memória">S1</td>
          <td class="numeros" *ngFor="let intrucao of listaInstrucoes[0]" [style]="intrucao.color">{{intrucao.index}}</td>
        </tr>
        <tr>
          <td matTooltip="Decodificar instrução">S2</td>
          <td class="numeros"*ngFor="let intrucao of listaInstrucoes[1]" [style]="intrucao.color">{{intrucao.index}}</td>
        </tr>
        <tr>
          <td matTooltip="Buscar informação dos endereços">S3</td>
          <td class="numeros"*ngFor="let intrucao of listaInstrucoes[2]" [style]="intrucao.color">{{intrucao.index}}</td>
        </tr>
        <tr>
          <td matTooltip="Realizar operação">S4</td>
          <td class="numeros"*ngFor="let intrucao of listaInstrucoes[3]" [style]="intrucao.color">{{intrucao.index}}</td>
        </tr>
        <tr>
          <td matTooltip="Armazenar na memória">S5</td>
          <td class="numeros"*ngFor="let intrucao of listaInstrucoes[4]" [style]="intrucao.color">{{intrucao.index}}</td>
        </tr>
        <tr>
          <td>Ciclo</td>
          <td class="numeros  tempo"*ngFor="let tempo of listaInstrucoes[4];  let i = index">{{i+1}}</td>
        </tr>
      </table>

    </div>
    <div class="tempoTotal">
      <p>Tempo Total: {{this.tempoTotal}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
